<!-- list -->
<ul class="nav nav-new">
	<li ui-sref-active="active" class="st-li">
		<a ui-sref="app.home">
			<i class="glyphicon glyphicon-home icon text-primary-dker iHeight"></i>
			<span class="font-bold" ui-sref="app.home">首页</span>
		</a>
	</li>
	<li ui-sref-active="active" class="st-li">
		<a ui-sref="app.storeInfomation">
			<i class="fa fa-bullhorn icon text-info-dker iHeight"></i>
			<span class="font-bold">店铺信息</span>
		</a>
	</li>

	<li class="st-li">
		<a href class="auto">
			<span class="pull-right text-muted">
		        <i class="fa fa-fw fa-angle-right text"></i>
		        <i class="fa fa-fw fa-angle-down text-active"></i>
      		</span>
			<i class="fa fa-cube icon text-success iHeight"></i>
			<span class="font-bold">商品管理</span>
		</a>
		<ul class="nav nav-sub dk">
			<li ui-sref-active="active">
				<a ui-sref="app.auditManagement">
					<span>商品列表</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.auditManagementAudit">
					<span>商品审核</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.shelvesManagement">
					<span>上下架管理</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.exchangeRules">
					<span>每个用户兑换规则</span>
				</a>
			</li>
			<!--<li ui-sref-active="active">
				<a ui-sref="app.useOfRules">
					<span>每个用户使用规则</span>
				</a>
			</li>-->
		</ul>
	</li>
	<li class="st-li">
		<a href class="auto">
			<span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
			<i class="fa fa-bar-chart icon text-info-dker iHeight"></i>
			<span class="font-bold">商品统计</span>
		</a>
		<ul class="nav nav-sub dk">
			<li ui-sref-active="active">
				<a ui-sref="app.CommoditySales">
					<span>商品券统计</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.CommoditygoodsSales">
					<span>商品核销统计</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.CommodityStatistics">
					<span>商品评价统计</span>
				</a>
			</li>
		</ul>
	</li>
	<li ui-sref-active="active" class="st-li">
		<a ui-sref="app.ordersManagement">

			<i class="glyphicon glyphicon-th-list icon text-info-lter iHeight"></i>
			<span class="font-bold">订单管理</span>
		</a>
	</li>
	<li ui-sref-active="active" class="st-li">
		<a ui-sref="app.evaluationManagement">

			<i class="glyphicon glyphicon-edit icon text-info-lter iHeight"></i>
			<span class="font-bold">评价管理</span>
		</a>
	</li>
	<li ui-sref-active="active" class="st-li">
		<a ui-sref="app.InteManagement">
			<i class="fa fa-database icon text-info-lter iHeight"></i>
			<span class="font-bold" ui-sref="app.InteManagement">积分管理</span>
		</a>
	</li>
	<!-- 	<li ui-sref-active="active" class="st-li">
		<a ui-sref="app.Serial">
			<i class="glyphicon glyphicon-barcode icon text-info-lter iHeight"></i>
			<span class="font-bold" ui-sref="app.Serial">序列号验证</span>
		</a>
	</li> -->
	<li class="st-li">
		<a href class="auto">
			<span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
			<i class="glyphicon glyphicon-cog icon text-success iHeight"></i>
			<span class="font-bold">设置</span>
		</a>
		<ul class="nav nav-sub dk">
			<li ui-sref-active="active">
				<a ui-sref="app.MemberSetting">
					<span>成员设置</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.PasswordModify">
					<span>密码修改</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.PermissionSetting">
					<span>权限设置</span>
				</a>
			</li>
		</ul>
	</li>

</ul>
<!-- / list -->